@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Open+Sans:wght@300;400&family=Zen+Kaku+Gothic+Antique:wght@400;500&display=swap');
:root{
    --primary-color: red;
    --gray:#94a3b8;
    --light-gray:#e2e8f0;
}

body{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0px;
    width: 100%;
}

hr{
    margin: 2rem 0rem;
}

/** container **/
.container{

    padding: 0rem 1rem;  /*(top&bottom left&right)*/
}

/* .container-fluid{
    it is same as container

} */

.container-center{
    max-width: 600px;
    margin: auto;
}

/* links */

.link{
    text-decoration: none;
    padding: 0.5rem 1rem
}

.link-primary{
    /* color: var(--primary-color); */
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 00.5rem;
    border-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/* header */

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    color: var(--gray);
    padding-top: 1rem;
    text-align: center;
}

.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
}

/* section */

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--light-gray);
}

/* card*/

.card-1-content {
    width: 350px;
    height: 160px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.041);
    border: 2px solid rgba(0, 0, 0, 0.103);
    border-radius: 5px;

}

.row-1 img {
    width: 100px;
    height: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card-icons {
    height: 24px;
    width: 24px;
    color: rgba(121, 121, 121, 0.945);
    padding: 10px;
}

.card-icons:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.068);
    cursor: pointer;
}

.card-1-content .row-1 {
    display: flex;
    
}
.row-1:hover{
    background-color: rgba(0, 0, 0, 0.041);
    cursor: pointer;
    
}
.row-1 .content {
    flex-direction: column;
    padding-left: 20px;
    box-sizing: border-box;
    width: 250px;
}
.row-1 .content h3 {
    margin-bottom: 10px;
}
.row-1 .content small {
    color: gray;
    font-weight: bold;
}

.row-2 {
    display: flex;
    margin: 10px;
    /* justify-content: center; */
    align-items: center;
}

.row-2-buttons button{
    font-size: 15px;
    padding: 8px 10px;
    border: transparent;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    color: rgb(52, 87, 243);
}
.row-2-buttons button:hover{
    background-color: rgba(52, 87, 243, 0.062);
    cursor: pointer;
}
.row-2-icons {
    margin-left: auto;
}


/* card 2 */

.card-2-content {
    width: 320px;
    height: 390px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.041);
    border: 2px solid rgba(0, 0, 0, 0.103);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.card-2-content img {
    width: 320px;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-2-row-2 {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card-2-row-2 p{
    font-size: 13px;
    color: rgb(95, 94, 94);
    font-weight: lighter;
}

.card-2-row-2 h3{
    margin-top: 10px;
    margin-bottom: 8px;
}
.card-2-row-2 small {
    color: gray;
    font-weight: bold;
}
.card-2-row-3 {
    margin-left: auto;
    box-sizing: border-box;
    padding: 10px;
}

.card-2-row-1,.card-2-row-2:hover{
    background-color: rgba(0, 0, 0, 0.041);
    cursor: pointer;
    
}
/*card 4*/

.card-4-content {
    width: 320px;
    height: 410px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.041);
    border: 2px solid rgba(0, 0, 0, 0.103);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.card-4-content img {
    width: 320px;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card-4-row-3 {
    display: flex;
    /* margin: 10px; */
    /* justify-content: center; */
    align-items: center;
}
/* <div class="card-2-row-2">
                    <h3>Our Changing Planet</h3>
                    <small>by Kurt Wagner</small></div> */

/* card 5 */
.card-5-content {
    width: 320px;
    height: 340px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.041);
    border: 2px solid rgba(0, 0, 0, 0.103);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.card-5-text {
    position: absolute;
    margin-top: 110px;
    margin-left: 10px;
}

/* .card-5-text h3,small{
    color: white;
    background-color: rgba(0, 0, 0, 0.637);   
    padding: 5px;
    border-radius: 5px;
} */
/* .card-5-text h3{
    margin-bottom: 10px;
}
*/
.card-5-text h3{
    color: white;
    background-color: rgba(0, 0, 0, 0.637);   
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.card-5-text small{
    color: white;
    background-color: rgba(0, 0, 0, 0.637);   
    padding: 5px;
    border-radius: 5px;
} 
.card-5-content img {
    width: 320px;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/* card 6 */
.card-6-content {
    width: 320px;
    height: 390px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.041);
    border: 2px solid rgba(0, 0, 0, 0.103);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.card-6-content img {
    width: 320px;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* .card-1 {
    height: 150px;
    width: 360px;
}
.card-2{
    height: 395px;
    width: 325px;
}
.card-3 {

    height: 400px;
    width: 325px;
}
.card-4{
    height: 415px;
    width: 325px;
}
.card-5 {

    height: 345px;
    width: 325px;
}
.card-6{
    height: 395px;
    width: 325px;
} */

/* .cards { */
    /* display: grid;
    grid-template-columns: 4fr 4fr ; */
    /* flex: 350; */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: wrap;*/
    /* justify-content: center;
    align-items: center */

    /* flex-grow: 1;
    margin-left: 40px; */

/* .cards div {
    margin: 10px;
} */
.cards {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10px;
    
  }
  
  @media screen and (min-width: 500px) {
    .cards {
      grid-template-columns: 1fr 1fr;
      margin-left: 20px;
    }
  }
  
  @media screen and (min-width: 800px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-left: 40px;
    }
  }
  /*chips*/

chips button{
    box-sizing: border-box;
    padding: 10px 30px 10px 10px;
    margin: 5px;
    position: relative;
    /* width: 70px; */
    background-color: rgba(224, 220, 220, 0.932);
    border: transparent;
    border-radius: 20px;
}
.chip-icons {
    position: absolute;
    height: 15px;
    width: 15px;
    right: 5px;
    background-color: rgb(117, 117, 117);
    border-radius: 50%;
    color: white;
}
chips button:hover{
    background-color: rgba(172, 168, 168, 0.932);
}
.chip-icons:hover {
    background-color: rgb(53, 53, 53);
}

/* dialogs */
.dialogs {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

/* Alert dialog */
.alert-dialog {
    height: 150px;
    width: 250px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 5px;
    
}
.alert-dialog h2{
    margin: 20px 10px 0px 10px;

    
}
.alert-dialog h3{
    margin: 20px 10px 0px 10px;
    color: rgba(150, 147, 147, 0.767);
    
}

.alert-dialog-content {
    display: flex;
    flex-direction: column;
}
.alert-dialog-buttons {
    margin-left: auto;
    margin-top: 20px;
}

.alert-dialog-buttons button{
    padding: 10px;
    color: rgb(170, 29, 206);
    background-color: transparent;
    font-weight: bold;
    border: transparent;
    font-size: 16px;
}
.alert-dialog-buttons button:hover{
    background-color: rgba(218, 178, 228, 0.301);
    border-radius: 5px;
    cursor: pointer;
}

/* simple dialog*/

.simple-dialog {
    height: 250px;
    width: 200px;
    background-color: white;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 5px;
    padding:0px 5px;
    margin: 5px 5px;
}

.simple-dialog-content {
position: absolute;
}
.simple-dialog-content h2{
    margin-left: 10px;
}
.simple-dialog-icon {
    height: 40px;
    width: 40px;
    padding: 8px;
    margin-right: 5px;

}
.dialog-profile {
    display: flex;
    align-items: center;
    /* background-color: brown; */
    width: 200px;
}
.dialog-profile:hover {
    background-color: rgba(148, 148, 202, 0.219);
    cursor: pointer;
}
.dialog-profile li{
    list-style: none;
}

/* confirmation-dialog*/

.confirmation-dialog {
    height: 280px;
    width: 230px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 5px;
    /* position: relative; */
    /* display: flex; */
}
.confirmation-dialog h2 {
    margin: 0px 10px;
    padding: 20px 0px 0px 0px;

}
.confirmation-dialog-content {
display: flex;
flex-direction: column;
}
.confirmation-dialog-content li{
    padding: 6px;
    }
.confirmation-dialog-content ul{
    width: 230px;
    height: 150px;
    overflow-y: scroll;
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
    border-top: 1px solid rgba(0, 0, 0, 0.137);
    }
.confirmation-dialog-content label{
        padding: 10px;
    }
.confirmation-dialog-buttons{
    margin-left: auto;
    margin-right: 20px;

}
.confirmation-dialog-buttons button{
    padding: 8px;
    color: rgb(170, 29, 206);
    background-color: transparent;
    font-weight: bold;
    border: transparent;
    font-size: 16px;
}
.confirmation-dialog-buttons button:hover{
    background-color: rgba(192, 125, 209, 0.301);
    border-radius: 5px;
    cursor: pointer;
}
/* footer */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer, .dialogs ul {
    padding-inline-start: 0px;
}